* {
	box-sizing: border-box;
}

#main-div {
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#p1-main-canvas {
    outline: 1px black solid;
    background-image: linear-gradient(to bottom right, #d9a7c7, #fffcdc);
    margin: 0;
    padding: 0;
    border: 0;
}